{% if localization.available_countries.size > 1 %}
  {% unless form_id %}
    {% assign random_number = 'now' | date: '%N' | modulo: 10 | plus: 25 %}
    {% assign form_id = 'country-' | append: random_number %}
  {% endunless %}
  <div class="m-switcher-dropdown m-country-switcher {{ box_size }}">
    {% form 'localization', data-localization-form: '', id: form_id %}
      <input type="hidden" name="country_code" value="{{ localization.country.iso_code }}" data-localization-input>
      <m-select-component>
        <m-localization-form>
          <select name="country_code" class="js-selectNative" data-localization-select>
            {%- for country in localization.available_countries -%}
              <option
                value="{{ country.iso_code }}"
                {% if country.iso_code == localization.country.iso_code %}
                  selected
                {% endif %}
              >
                {{ country.currency.iso_code }} {{ country.currency.symbol }}
              </option>
            {%- endfor -%}
          </select>
        </m-localization-form>
        <div class="m-select-custom js-selectCustom" aria-hidden="true">
          <div class="m-select-custom--trigger">
            <span class="m-select-custom--trigger-text"></span>
            <span class="m-select-custom--trigger-icon">
              <svg fill="none" stroke="currentColor" stroke-width="1.5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="plus-icon">
                <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15"/>
              </svg>
              <svg fill="none" stroke="currentColor" stroke-width="1.5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="minus-icon">
                <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 12h-15"/>
              </svg>
            </span>
          </div>
          <div class="m-select-custom--options m-select-custom--options-{{ pos }}">
            {%- for country in localization.available_countries -%}
              <div class="m-select-custom--option" data-value="{{ country.iso_code }}">
                {{ country.currency.iso_code }} {{ country.currency.symbol }}
              </div>
            {%- endfor -%}
          </div>
        </div>
      </m-select-component>
    {%- endform -%}
  </div>
{% endif %}
