{%- liquid 
  unless form_id
    assign form_id = 'currency-form'
  endunless
  assign show_currency_selector = true
-%}

{% if show_currency_selector %}
  {% liquid
    assign min = 65
    assign max = 80
    assign diff = max | minus: min
    assign randomNumber = "now" | date: "%N" | modulo: diff | plus: min
    assign form_id = form_id | append: randomNumber
  %}
  {% if shop.enabled_currencies.size > 1 %}
    <div class="m-switcher-dropdown m-currency-switcher {{ box_size }}">
      {%- capture form_id -%}localization_form{{ product.id }}__{{ "now" | date: "%L" }}{%- endcapture -%}

      {% form 'localization', data-localization-form: '', id: form_id %}
        <input type="hidden" name="currency_code" value="{{ form.current_currency.iso_code }}" data-localization-input/>
        
        <!-- Create unique currency list -->
        {% assign unique_currencies = '' %}
        {% assign currency_data = '' %}
        
        {% for currency in form.available_currencies %}
          {% assign currency_check = ',' | append: currency.iso_code | append: ',' %}
          {% unless unique_currencies contains currency_check %}
            {% assign unique_currencies = unique_currencies | append: currency_check %}
            {% assign currency_info = currency.iso_code | append: '|' | append: currency.symbol %}
            {% if currency_data == '' %}
              {% assign currency_data = currency_info %}
            {% else %}
              {% assign currency_data = currency_data | append: ',' | append: currency_info %}
            {% endif %}
          {% endunless %}
        {% endfor %}
        
        <m-select-component>
          <m-localization-form>
            <select class="js-selectNative" data-localization-select>
              {% assign currency_list = currency_data | split: ',' %}
              {% for currency_item in currency_list %}
                {% assign currency_parts = currency_item | split: '|' %}
                {% assign currency_code = currency_parts[0] %}
                {% assign currency_symbol = currency_parts[1] %}
                <option
                    value="{{ currency_code }}"
                    {% if form.current_currency.iso_code == currency_code %}selected="selected"{% endif %}
                >
                  {{ currency_code }} {{ currency_symbol }}
                </option>
              {% endfor %}
            </select>
          </m-localization-form>
          
          <div class="m-select-custom js-selectCustom" aria-hidden="true">
            <div class="m-select-custom--trigger">
              <span class="m-select-custom--trigger-text"></span>
              <span class="m-select-custom--trigger-icon">
                <svg fill="none" stroke="currentColor" stroke-width="1.5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="plus-icon">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15"/>
                </svg>
                <svg fill="none" stroke="currentColor" stroke-width="1.5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="minus-icon">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 12h-15"/>
                </svg>
              </span>
            </div>
            <div class="m-select-custom--options m-select-custom--options-{{ pos }}">
              {% assign currency_list = currency_data | split: ',' %}
              {% for currency_item in currency_list %}
                {% assign currency_parts = currency_item | split: '|' %}
                {% assign currency_code = currency_parts[0] %}
                {% assign currency_symbol = currency_parts[1] %}
                <div class="m-select-custom--option" data-value="{{ currency_code }}">{{ currency_code }} {{ currency_symbol }}</div>
              {% endfor %}
            </div>
          </div>
        </m-select-component>
      {% endform %}
    </div>
  {% endif %}
{% endif %}